.hero-image {
    height: 400px;
    width: 100%;
    background: url(../img/hero-image-mobile.png) no-repeat center center;
    background-size: cover;
}

.hero-title {
    font-size: 20px;
    padding: 88px 24px;
    text-align: center;
    color: var(--text-primary-color);
    font-weight: 400;
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .hero-image {
        height: 620px;
        background: url(../img/hero-image-tablet.png) no-repeat center center;
        background-size: cover;
    }

    .hero-title {
        font-size: 32px;
        padding: 88px 60px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-image {
        background: url(../img/hero-image-desktop.png) no-repeat center center;
        background-size: cover;
    }

    .hero-title {
        padding: 104px 120px;
    }
}

@media screen and (min-height: 1920px) {
    .hero-title {
        padding: 37px 160px;
    }
}